.Prestations{
    margin-top: 6rem;
    height: 60vh;
    background: var(--primary-color);

}

@media screen and (max-width:1024px) {
    .Prestations{
        height: 50vh;

        h2{
             font-size: 2.2rem
                
            
        }
    }
}
