/*@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

:root {
    --font-base: "Poppins", sans-serif;
    --primary-color: #f8f8f8;
    --secondary-color: #FC5AA8;
    --hover-color:#df438e;
    --highlight-color:#ffdce8;
    --lightgray-color: #E6E6E6;
    --black-color: #030303;
    --lightGray-color: #e4e4e4;
    --gray-color: #6b7688;
    --brown-color: #46364a;
    --white-color: #ffffff;
    --header-height: 3rem;
    --big-font-size: 2.5rem;
    --normal-font-size: .938rem;
    --z-fixed: 100;
    --container-lg: 85%;
    --container-md: 90%;

    
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0; /*newer version */
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: var(--font-base);
    -ms-overflow-style: none;  /* hide scrollbar IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar {
    display: none;
  }
